* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
}

.container {
  width: 85%;
  /* border: 2px solid red; */
  margin: auto;
}


input {
  width: 100%;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 600;
  margin-top: 26px;
  margin-bottom: 20px;
  color: #fff;

  backdrop-filter: blur(5px);
  background: linear-gradient(to top,
      rgba(0, 0, 0, 0.341),
      rgba(0, 0, 0, 0.35),
      rgba(38, 38, 38, 0.05));
}

input::placeholder {
  font-weight: 200;
  color: #ffffff3a;
}


/* -------------------------------------------------------- */


.movies-list {
  margin-top: 40px;
  margin-bottom: 200px;
  display: flex;
  justify-content: space-around;
  gap: 70px;
  flex-wrap: wrap;
}


.movie-card {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 400px;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.4s ease;
  background: #181818;
}



/* POSTER */
.poster {
  width: 100%;
  height: 314px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

@media screen and (max-width: 768px) {
  .movie-card {
    width: 100%;
    height: 500px;
    pointer-events: none;
  }

  .poster {
    width: 100%;
    height: 420px;
  }
}

/* GLASS INFO */
.glass-info {
  position: absolute;
  bottom: 00;
  width: 100%;
  padding: 14px;
  backdrop-filter: blur(14px);
  background-color: #1d1d1d;
  border-radius: 0 0 2px 2px;
  transition: all 0.4s ease;
}

.glass-info h3 {
  font-size: medium;
  font-weight: 600;
  overflow-wrap: break-word;
  color: #ffffff;
  margin-bottom: 10px;
}

/* META */
.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #ffffff;
}

.rating {
  background: rgba(140, 140, 140, 0.15);
  padding: 4px 8px;
  border-radius: 10px;
  font-weight: 600;
}

/* HOVER EFFECTS */
.movie-card:hover {
  transform: translateY(-10px) scale(1.02);
  /* box-shadow: 0 30px 80px rgba(229,9,20,0.45); */
}